<a href="/">Home</a>
<br>

<!-- @outfits = [outfit_instance, outfit_instance, etc] -->
<% @outfits.each do |outfit| %>
  <%= image_tag outfit.photo.url(:small) %>
  <p><%= outfit.style %></p>
  <p><%= outfit.brand_name %></p>
  <p><%= outfit.description %></p>
<% end %>

