/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  text-align: center;
 }

 p {
  color: black;
  font-family: "Impact";
  font-size: 20px;
  text-align: center;
 }

 .left_column {
  background-color: black;
  float: center;
  height: 400px;
  width: 400px;
  position: relative;

 }

 .logo {
  color: black;
  vertical-align: middle;
  font-family: "Impact";
  font-size: 70px;

 }

 .ig_likes {
  color: red;
  font-size: 16px;

 }

 a {
  color: black;
  text-decoration: bold;
  font-style: Impact;


 }

 ul {
    text-align: center;

 }

 h1 {
    text-align: center;

 }

 .fb-like {
  text-align: center;

 }
