/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 body {
  text-align: center;
 }

 p {
  color: black;
  font-family: "Impact";
  font-size: 20px;
  text-align: center;
 }

 p:hover {
  color: black;

 }

 .logo {
  transition: .5s all;
  font-family: "Impact";
  background-color: white;
 }


 .logo:hover {
  color: black;
  font-family: "Impact";
  font-size: 70px;
  background-color: white;

 }

 .ig_likes {
  color: red;
  font-size: 16px;

 }

 ul {
    text-align: center;

 }

 h1 {
    text-align: center;
    color: red;

 }

 .fb-like {
  text-align: center;

 }

 .outfit {
  height: 250px;
  width: 250px;
  display: inline-block;
  padding: 10px;
 }

 .outfit img {
  height: 300px;
}

a.links {
  color: red;
  font-family: "Impact";
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  border: 2px solid black;
  transition: .2s all;
 /* border-radius: 10px;*/
}

a:hover {
  color: black;
  font-family: "Impact";
  font-size: 20px;
  background-color: silver;


}

a {
  text-decoration: none;
  color: black;

}

#user_names {
  text-decoration: underline;
  font-size: 20px;
  font-family: "Impact";
}

.user_attributes {
  display: inline-block;

}
