<!DOCTYPE html>
<html>
<head>
  <title>OutfitterApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<a href="/"><span class="logo">O U T F<img class="logo_img" src="http://i62.tinypic.com/rwur9f.jpg">T T E R</span></a>




<%= yield %>

</body>
</html>
